{% extends 'store/menu.html' %}
{% load static %}

{% block content %}
<div class="container py-5 mt-5">
  <div class="mb-4">
    <a class="btn btn-outline-dark" href="{% url 'catalog' %}">&#x2190; Continue Shopping</a>
  </div>

  <div class="cart-box-element mb-4">
  <table class="table mb-0">
    <tr>
      <th><h5>Items: <strong>{{order.get_cart_items}}</strong></h5></th>
      <th><h5>Total: <strong>RM{{order.get_cart_total|floatformat:2}}</strong></h5></th>
      <th class="text-end">
        {% if order.get_cart_items > 0 %}
          <a class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
        {% else %}
          <button class="btn btn-secondary" disabled>Checkout</button>
        {% endif %}
      </th>
    </tr>
  </table>

  {% if order.get_cart_items == 0 %}
    <div class="alert alert-warning mt-3 text-center" role="alert">
      No items in the cart.
    </div>
  {% endif %}

 </div>

  <div class="cart-box-element">
    <!-- Header Row -->
    <div class="cart-row fw-semibold text-muted small">
      <div style="flex:2"></div>
      <div style="flex:2">Item</div>
      <div style="flex:1">Price</div>
      <div style="flex:1">Quantity</div>
      <div style="flex:1">Total</div>
    </div>

    <!-- Product Row -->
    {% for item in items %}
  <div class="cart-row align-items-start">
    <div style="flex:2">
      <img class="row-image" src="{{ item.item.imageURL }}" alt="{{ item.item.sneaker_name }}">
    </div>
    <div style="flex:2">
      <p>{{ item.item.sneaker_name }}</p>
      <p>Size: {{ item.selected_size.size.label }}</p>
    </div>
    <div style="flex:1">
      <p>RM{{ item.item.sneaker_price|floatformat:2}}</p>
    </div>
    <div style="flex:1">
	<p class="quantity">{{item.quantity}}</p>
	<div class="quantity d-flex flex-column gap-1">
      <img data-product="{{item.item.id}}" data-size="{{item.selected_size.id}}" data-action="add" data-source="cart" class="chg-quantity update-cart" src="{% static 'images/arrow-up.png' %}">
      <img data-product="{{item.item.id}}" data-size="{{item.selected_size.id}}" data-action="remove" data-source="cart" class="chg-quantity update-cart" src="{% static 'images/arrow-down.png' %}">
	</div>
</div>
    <div style="flex:1">
      <p>RM{{item.get_total|floatformat:2}}</p>
    </div>
  </div>
{% endfor %}
  </div>
</div>
{% endblock content %}
